[submodule "mkl-dnn"]
	path = external/mkl-dnn
	url = https://github.com/RenderKit/mkl-dnn.git
[submodule "weights"]
	path = weights
	url = https://github.com/RenderKit/oidn-weights.git
[submodule "cutlass"]
	path = external/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "external/composable_kernel"]
	path = external/composable_kernel
	url = https://github.com/ROCmSoftwarePlatform/composable_kernel.git
